<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome to my WebApp</h1>
	<hr>
	<p th:if="${param.error}" style="color: red;">Invalid username or
		password.</p>
	<form action="applogin" method="post">
		<label>User name:</label> <input type="text" name="username" required />
		<br />
		<br /> <label>Password:</label> <input type="password" name="password"
			required /> <br />
		<br /> <input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<button>Login</button>
	</form>
</body>
</html>